body{
    font-size: 16px; /* 1 em */
    margin: 0px auto;
    max-width: 1024px;
    --color-fondo-header:#D1E3EE
}

footer{
    margin-top: 20px;
    background:rgb(31, 80, 109);
}

footer article{
    color:white;
    display: inline-block;
    height: 100px;
    width: 32.8%;
}

header{
    background: var(--color-fondo-header);
}
header nav{
    background: #026dc6;
    border-radius: 5px;
    padding: 2px 0px;
    width: 99.70%;
    margin: 0px auto;
}

header nav ul li{
    color: white;
    display: inline-block;
    margin-right: 20px;
}
header nav form{
    float: right;
    margin-right: 20px;
    margin-top: -40px;
}

header nav form input{
    border-radius: 5px;
}

header nav form input[type="submit"]{
    background: green;
    border: 1px solid green;
    color: white;
}

#logo{
    margin-top: -150px;
}

#seccion01{
    margin-top: 15px;
}

#seccion01 article{
    text-align: center;
}

#seccion01 article img{
    border: 3px solid rgba(150 ,150,150, 0.5);
    width: 98%;
}

#seccion02 article{
    width: 32.8%;
    display: inline-block;
    vertical-align: top;
}

#seccion02 article input[type="submit"]{
    background: white;
    border: 1px solid red;
    color: blue;
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: 30%
}

.otraSeccion{
    font-size: 2.5em;
}

.unaSeccion{
    font-size: 4.5em; /*4.5 x 16*/
}

.nito{
    font-weight: bold;
}